# 1. Write a Python program to create a tuple.

In [1]:
t = ()

In [2]:
type(t)

tuple

# 2. Write a Python program to create a tuple with different data types.

In [3]:
my_tuple = (42, "Hello", 3.14, True, [1, 2, 3], {"name": "Tejaswini", "age": 25}, (5, 6, 7))

print("The created tuple with different data types is:")
print(my_tuple)

print("\nAccessing elements:")
print("Integer:", my_tuple[0])
print("String:", my_tuple[1])
print("Float:", my_tuple[2])
print("Boolean:", my_tuple[3])
print("List:", my_tuple[4])
print("Dictionary:", my_tuple[5])
print("Nested Tuple:", my_tuple[6])

The created tuple with different data types is:
(42, 'Hello', 3.14, True, [1, 2, 3], {'name': 'Tejaswini', 'age': 25}, (5, 6, 7))

Accessing elements:
Integer: 42
String: Hello
Float: 3.14
Boolean: True
List: [1, 2, 3]
Dictionary: {'name': 'Tejaswini', 'age': 25}
Nested Tuple: (5, 6, 7)

Integer

In [4]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

Float

In [5]:
t1 = (2.5,4.5,6.8,7.5)
t1

(2.5, 4.5, 6.8, 7.5)

string

In [6]:
t1 = ("Hello","tejaswini","Pradeep","Shivani")
t1

('Hello', 'tejaswini', 'Pradeep', 'Shivani')

Boolean

In [7]:
t1 = (1,2,3,4,5)
1 in t1

True

In [8]:
7 in t1

False

Dictionary

In [9]:
t1 = {'name':'tejaswini','age':25}

In [10]:
t1

{'name': 'tejaswini', 'age': 25}

# 3. Write a Python program to create a tuple of numbers and print one item

In [11]:
l = (1,2,3,4,5,6,7)
l[2]

3

In [12]:
l[0]

1

In [13]:
l[6]

7

In [14]:
l[3]

4

# 4. Write a Python program to add an item to a tuple.

In [15]:
t = (12,34,45,[56,23,78],("teja","vasu"))

In [16]:
t

(12, 34, 45, [56, 23, 78], ('teja', 'vasu'))

In [17]:
t=(12,34,[23,34,56],("mayur","kulkarni"))
t[3][0]

'mayur'

In [18]:
t1 = (12,34,45,[56,23,78], ('teja','vasu'))
t1[0]

12

In [19]:
t1[2]

45

In [20]:
t1

(12, 34, 45, [56, 23, 78], ('teja', 'vasu'))

In [21]:
l = list(t)
l

[12, 34, [23, 34, 56], ('mayur', 'kulkarni')]

In [22]:
l[2]

[23, 34, 56]

In [23]:
l[2] = 2000

In [24]:
l[2]

2000

In [25]:
t = tuple(l)
t

(12, 34, 2000, ('mayur', 'kulkarni'))

In [26]:
t=(12,34,[23,34,56],("mayur","kulkarni")) 
t[3][0]

'mayur'

In [27]:
t[2][0] = 20000
t

(12, 34, [20000, 34, 56], ('mayur', 'kulkarni'))

In [28]:
t2 = (12,34,45,[56,23,78], ('teja','vasu'))

In [29]:
t2

(12, 34, 45, [56, 23, 78], ('teja', 'vasu'))

In [30]:
t = (12, 34, 45, [56, 23, 78], ("teja", "vasu"))

new_t = (t[0], 2000, t[2], t[3], t[4])

print("Original tuple:", t)
print("Updated tuple:", new_t)

Original tuple: (12, 34, 45, [56, 23, 78], ('teja', 'vasu'))
Updated tuple: (12, 2000, 45, [56, 23, 78], ('teja', 'vasu'))

# 6. Write a Python program to convert a tuple to a string

In [31]:
t = ("tejaswini","vasavi","ramadevi","srinivasa rao")

In [32]:
t

('tejaswini', 'vasavi', 'ramadevi', 'srinivasa rao')

# 7. Write a Python program to get the 4th element from the last element of a tuple

In [33]:
tuple = (10,20,30,40,50,48,75,2,77,45)

In [34]:
tuple

(10, 20, 30, 40, 50, 48, 75, 2, 77, 45)

In [35]:
tuple[-4]

75

# 8. Write a Python program to create the colon of tuple

In [55]:
from copy import deepcopy
t = ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
print(t)

('Tutor', 'J', 23, 56.67, [23, 12], True)

In [56]:
tc = deepcopy(t)

In [57]:
tc

('Tutor', 'J', 23, 56.67, [23, 12], True)

In [58]:
tc[4].append(50)

print(tc)
print(t)

('Tutor', 'J', 23, 56.67, [23, 12, 50], True)
('Tutor', 'J', 23, 56.67, [23, 12], True)

# 9. Write a Python program to find repeated items in a tuple

In [36]:
t3 = (1,2,2,5,8,8,7,34)

In [37]:
t3

(1, 2, 2, 5, 8, 8, 7, 34)

In [38]:
t3.count(2)

2

In [39]:
t3.count(8)

2

# 10.Write a Python program to check whether an element exists within a tuple.

In [40]:
t = ('teja',12,2.5,"vasu",25.7,9,89.0)
print('teja' in t)
print(89.0 in t)
print(12 in t)
print(5 in t)

True
True
True
False

# 11. Write a Python program to convert a list to a tuple.

In [41]:
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [42]:
l = list(t)
l

[1, 2, 3, 4, 5]

In [43]:
type(l)

list

In [44]:
l[2]=12

In [45]:
l

[1, 2, 12, 4, 5]

In [46]:
l

[1, 2, 12, 4, 5]

In [47]:
t

(1, 2, 3, 4, 5)

In [48]:
l = list(t)
l

[1, 2, 3, 4, 5]

In [49]:
type(l)

list

In [50]:
l[1]=12
l

[1, 12, 3, 4, 5]

# 12. Write a Python program to remove an item from a tuple.

In [2]:
a = (1,2,3,4,5,6)
l = list(a)

In [3]:
l

[1, 2, 3, 4, 5, 6]

In [4]:
l.remove(3)
l

[1, 2, 4, 5, 6]

In [5]:
a = tuple(l)
a

(1, 2, 4, 5, 6)

In [6]:
a

(1, 2, 4, 5, 6)

# 13. Write a Python program to slice a tuple.

In [7]:
b = (1,2,3,4,5,6,7)

In [8]:
b

(1, 2, 3, 4, 5, 6, 7)

In [9]:
b[0:]

(1, 2, 3, 4, 5, 6, 7)

In [10]:
b[:6]

(1, 2, 3, 4, 5, 6)

In [11]:
b[0:4]

(1, 2, 3, 4)

In [12]:
b[-1:-5]

()

In [13]:
b

(1, 2, 3, 4, 5, 6, 7)

In [14]:
b[-1:]

(7,)

In [15]:
b[:-7]

()

In [16]:
b

(1, 2, 3, 4, 5, 6, 7)

In [17]:
b = (1, 2, 3, 4, 5)
print(b[:-7])  # Output: ()

()

In [18]:
b

(1, 2, 3, 4, 5)

In [19]:
len(b)

5

# 14. Write a Python program to find the index of an item in a tuple.

In [20]:
c = (12,45,23,56,89,78)

In [21]:
c

(12, 45, 23, 56, 89, 78)

In [22]:
c[0]

12

In [23]:
c[4]

89

In [24]:
c[5]

78

In [25]:
c[2]

23

In [28]:
c  = (1, 2, [4,5,6])

In [30]:
c[0]

1

In [31]:
c[1]

2

In [32]:
c[2]

[4, 5, 6]

In [33]:
c[2][0]

4

In [34]:
c[2][2]

6

In [35]:
c  = (1, 2, [4,5,6], "teja", [12,23])

In [38]:
c

(1, 2, [4, 5, 6], 'teja')

In [40]:
c[3]

'teja'

In [43]:
c[3][0]

't'

In [45]:
len(c)

4

In [46]:
c

(1, 2, [4, 5, 6], 'teja')

In [47]:
c  = (1, 2, [4,5,6], "teja", [12,23])

In [48]:
c

(1, 2, [4, 5, 6], 'teja', [12, 23])

In [49]:
c[4]

[12, 23]

In [50]:
c[4][0]

12

# 15. Write a Python program to find the length of a tuple.

In [52]:
d  = (1, 2, [4,5,6], "teja", [12,23], "vasu", [45,5.6,8.9])

In [53]:
d

(1, 2, [4, 5, 6], 'teja', [12, 23], 'vasu', [45, 5.6, 8.9])

In [54]:
len(d)

7

In [9]:
e = (1, 2, [4,5,6], "teja", [12,23], "vasu", [45,5.6,8.9], "rama")

In [10]:
e

(1, 2, [4, 5, 6], 'teja', [12, 23], 'vasu', [45, 5.6, 8.9], 'rama')

In [11]:
len(e)

8

16. The idea is to count the no. of time the product occurred, its already
mentioned in the question no. are disctinct, we just need to the all the
combinations.For a,b,c,d there can be 8 combinations, lets take (a,b) as 1 and
(c,d) as 2 so there it can be written as "12" or "21" so 2 ways and then the 1-
which is ab can also be written as "ab" or "ba" so again 2 ways and likewise for
cd. So the max unique combination for a tuple (a,b,c,d) can be 2x2x2 = 8.Once
we have a count of the no. of products we can find the combination

In [1]:
a = [2,3,4,5]
b = [5,6,7,8]
c = list(zip(a,b))
print(c)

[(2, 5), (3, 6), (4, 7), (5, 8)]

In [3]:
c = [12,13,14,15]
d = [16,17,18,19]
e = list(zip(c,d))
print(e)

[(12, 16), (13, 17), (14, 18), (15, 19)]

In [ ]:
a =

In [6]:
a1 = [2,3,4,5]
b1 = [5,6,7,8]
c1 = [8,9,10,11]
d1 = [12,13,14,15]
e1 = list(zip(a,b,c,d))
print(e1)

[(2, 5, 12, 16), (3, 6, 13, 17), (4, 7, 14, 18), (5, 8, 15, 19)]

In [7]:
for i in e1:
    print(i)

(2, 5, 12, 16)
(3, 6, 13, 17)
(4, 7, 14, 18)
(5, 8, 15, 19)

In [8]:
len(i)

4